<!DOCTYPE html>

<html dir="rtl" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <style>
        @@media print {
            thead tr td:nth-child(odd) {
                background-color: #d7cece !important;
            }

            tr th {
                background-color: #d7cece !important;
            }
        }
        body {
            width: 75%;
        }

        td, tr, th {
            border: solid 1px;
            font-weight: bold;
            text-align: center;
            vertical-align: inherit !important;
        }

        .center {
            text-align: center;
            vertical-align: inherit !important;
        }

        thead tr td:nth-child(odd) {
            background-color: #d7cece;
        }

        tr td:nth-child(2) {
            width: 30rem !important;
            text-align: right;
        }

        tr th  {
            background-color: #d7cece;
        }

        ol {
            font-weight: normal;
        }
        @@media print {
            thead tr td:nth-child(odd) {
                background-color: #d7cece !important;
            }

            tr th {
                background-color: #d7cece !important;
            }
        }
    </style>
</head>
<body dir="rtl" class="mx-auto">


    <div class="center my-3">
        <h4> اسم الجمعية</h4>
        <h6>Agricultural Development Association</h6>
        <h5><u>أمر مباشرة / تنفيذ      Purchase Order</u></h5>
    </div>
    <table class="table text-right ">
        <thead>
            <tr>
                <td>اسم المشروع (Project Name)</td>
                <td colspan="2">---------</td>
                <td colspan="2">اسم الممول (Donor Name)</td>
                <td colspan="2">--------</td>

            </tr>
            <tr>
                <td>اسم المورد (Vendor Name)</td>
                <td colspan="2">شركة ....................</td>
                <td colspan="2">عنوان المورد (Vender Add.)</td>
                <td colspan="2">قلقيلية</td>

            </tr>
            <tr>
                <td>اسم العطاء (Tender Desc</td>
                <td colspan="2">تأهيل ينابيع رقم (PARC-40-2019)</td>
                <td colspan="2">التاريخ (Date)</td>
                <td colspan="2">04/12/2019</td>

            </tr>


            <tr>
                <th>#</th>
                <th>البند (Item)/ المواصفات (Tech. Specs)</th>
                <th>Spring</th>
                <th>الوحدة (unit)</th>
                <th>سعر الوحدة يورو (Unit Price)</th>
                <th>الكمية (Quantity) </th>
                <th>المجموع (Total) يورو </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td class="center" rowspan="8">Seyloun</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>1</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            <tr>
                <td>6</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>7</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>8</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td class="center" rowspan="5">Qaryut</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>9</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>10</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>11</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>12</td>
                <td>تأهيل مدخل النبع Rehabilitation of the entrance</td>
                <td>مقطوع</td>
                <td>1000</td>
                <td>1</td>
                <td>1000</td>
            </tr>
            <tr>
                <th colspan="6" class="text-right">اجمالي سعر البنود (The Total Price of Above Items)اجمالي سعر البنود</th>
                <th>1000</th>
            </tr>
        </tbody>
        <tbody class="border">
            <tr>
                <td class="text-right" colspan="7">
                    <u>شروط خاصة (Special Conditions):</u>
                    <ol>
                        <li>	الالتزام بالمواصفات الفنية والكميات المطلوبة.</li>
                        <li>	الالتزام بالمواصفات الفنية والكميات المطلوبة.</li>
                        <li>	الالتزام بالمواصفات الفنية والكميات المطلوبة.</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td class="text-right" colspan="7">
                    <u>شروط عامة (General Conditions):</u>
                    <ol>
                        <li>الأسعار بعملة باليورو ولا تشمل ضريبة القيمة المضافة.</li>
                        <li>	يرجى تأكيد استلام امر المباشرة بختمه والتوقيع عليه واعادته باليد لقسم المشتريات أو على فاكس رقم .</li>
                    </ol>

                </td>
            </tr>
            <tr>
                <td class="pb-5" colspan="2">
                    توقيع وختم المورد (Vender’s Signature)
                </td>
                <td class="pb-5 text-center" colspan="5">
                    توقيع المشتريات (Signature of Procurement)
                </td>

            </tr>

        </tbody>

    </table>
    <button onclick=" window.print()" class="btn btn-dark">Print</button>
    <!--<script>
        function printPage() {
            var printStyle = document.querySelector("head");

            var printBox = document.querySelector("body");
            var printWidndow = window.open();
            console.log("<head>" + printStyle.innerHTML + "</head><body>" + printBox.innerHTML + "</body>")
            printWidndow.document.write("<html dir='rtl'><head>" + printStyle.innerHTML + "</head><body>" + printBox.innerHTML +"</body></html>");
            printWidndow.document.close();
            printWidndow.print();
            printWidndow.close();
        }
    </script>-->

</body>
</html>